.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: azure;
    font-family: 'Josefin Sans', sans-serif;
}

.nav {
    box-shadow: lightpink 0 0 5px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
}

.nav img {
    margin: 7px 35px;
    height: 40px;
}

.a:hover {
    background-color: lightpink;
}

.nav a {
    margin: auto 20px;
    display: flex;
    text-decoration: none;
    list-style: circle;
}

.nav a {
    margin-left: 5px;
    font-size: 15px;
    padding: 10px;
    padding-top: 10px;
    padding-right: 30px;
}


.nav a:hover {
    background-color: #ddd;
    color: black;
}


.heading {
    padding-top: 50px;
    margin-top: 50px;
}


.heading{
        margin-top: 20px;
        margin: 0;
        padding-top: 20px;
        padding-left: 20px;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #0d0628, #9fe175);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
}