<!DOCTYPE html>
<html>

<head>
  <title>About Us - MadeEasy Pharmacy Store</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="">
  <link rel="stylesheet" href="static/css/aboutus.css">
</head>
<div class="navbar">
  <div class="nav">
    <img src="static/img/logo.jpg" alt="logo" width="200px" height="100px" href="../index.html">
    <a href= "{{ url_for('index') }}"> Home </a>
    <a href="{{ url_for('landing') }}"> Our Products </a>
    <a href="{{ url_for('aboutus') }}"> About us </a>
    <a href="{{ url_for('login') }}"> Login </a>
    <a href="{{ url_for('signup') }}"> Sign Up </a>
    <a href="{{ url_for('chart') }}"> Stock </a>
  </div>
</div>

<body>
  <br><br>

  <section class="about-us">
    <div class="big">
      <h1 class="about"><br>About Us</h1>
      <br><br>
      <section>
        <div class="row">
          <div class="column">
            <div class="card">
              <img src="static/img/IMG_4243.jpg" alt="Rohan Reddy Bandi">
              <div class="container">
                <h2><br>Rohan Reddy Bandi</h2>
                <p><br>Achieving the objective required designing HTML/CSS pages, leading multiple group discussions,
                  and coordinating the team. Making sure everything functions properly required testing and delivering
                  the website.</p><br>
                <br>

              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="static/img/1 (2).jpg" alt="Sai Shivaram Reddy Vedumula">
              <div class="container">
                <h2><br>Sai Shivaram Reddy Vedumula</h2>
                <p><br>
                  I was able to create a user-friendly design for the Log in and Sign up Pages using my styling and
                  layout skills. Working on this project was a joy, and I look forward to contributing my skills to more
                  projects in the future.</p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="static/img/tharun.jpg" alt="Tharun Rasamalla">
              <div class="container">
                <h2><br>Tharun Rasamalla</h2><br>
                <p><br>
                  I learned about the fundamental concepts and the operation of the website's elements.I was in charge
                  of developing the HTML and CSS, making sure the site appears appealing and professional.I contributed
                  the photos and designed the About Us page.</p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="static/img/srikar.jpeg" alt="Srikar Pusuluri">
              <div class="container">
                <h2><br>Srikar Pusuluri</h2>
                <p><br>I was able to provide guidance on how to approach HTML construction and original CSS suggestions.
                  I contributed to the creation of the chart.js employing javascript features. One of my contributions
                  was the Products page. </p>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </section>
</body>

</html>