<!DOCTYPE html>
<html>
  <head>
    <title>MadeEasy Pharmacy Store Inventory Chart</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/chart.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

    <script src="static/js/chart.js" defer></script>
  </head>

  <header>
    <div class="navbar">
      <div class="nav">
        <img src="static/img/logo.jpg" alt="logo" width="200px" height="100px" href="../index.html">
        <a href= "{{ url_for('index') }}"> Home </a>
        <a href="{{ url_for('landing') }}"> Our Products </a>
        <a href="{{ url_for('aboutus') }}"> About us </a>
        <a href="{{ url_for('login') }}"> Login </a>
        <a href="{{ url_for('signup') }}"> Sign Up </a>
        <a href="{{ url_for('chart') }}"> Stock </a>
      </div>
    </div>
  </header>

  <body>

    <h3 class="heading">MadeEasy Pharmacy Inventory<br></h3>
    <div style="width:100%;">
      <canvas id="myChart"></canvas>
    </div>

  </body>
</html>