<!DOCTYPE html>
<html>
    <head>
        <title>MadeEasy Pharmacy Store</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="icon" href="">
        <link rel="stylesheet" href="static/css/landing.css">


        <script src="static/js/landing.js" defer></script>
    </head>
    <body>
        
        <div class="navbar">
            <div class="nav">
                <img src="static/img/logo.jpg" alt="logo" width="200px" height="100px
                " href="./index.html">     
                <a href= "{{ url_for('index') }}"> Home </a>
                <a href="{{ url_for('landing') }}"> Our Products </a>
                <a href="{{ url_for('aboutus') }}"> About us </a>
                <a href="{{ url_for('login') }}"> Login </a>
                <a href="{{ url_for('signup') }}"> Sign Up </a>
                <a href="{{ url_for('chart') }}"> Stock </a>
            </div>
        </div>

        <div class="stocks"><h2><br><br>
            <br>
            Know more about the stock of our products</h2></div>
        <div class="btn">
            <a href="{{ url_for('chart') }}" class="logo"> <i class="fas fa-warehouse"></i> Inventory Chart of Medicines </a>
        </div>
        <div class="container">
            <h4 class="title"> Shop by Medicines</h4>

            <div class="search">
                <form action=""  method="get">
                  <input type="text" name="s" placeholder="Search medicine.." />
                  <input type="submit" value="Search" />
                </form>
            </div>
        
            <div class="products-container">
                <div class="product" data-name="p-1">
                    <img src="static/img/accucheck.jpg" alt="Accu Chek Aviva Test Strips- 100 ea">
                    <h3>Accu Chek Aviva Test Strips- 100 ea</h3>
                    <div class="price">$189.99</div>
                </div>
        
                <div class="product" data-name="p-2">
                    <img src="static/img/himadiabetes.jpeg" alt="Himalaya Diabecon Blood Sugar Tablets">
                    <h3>Himalaya Diabecon Blood Sugar Tablets</h3>
                    <div class="price">$14.99</div>
                </div>
        
                <div class="product" data-name="p-3">
                    <img src="static/img/ensure.jpeg" alt="">
                    <h3>Ensure Diabetes Care Powder - Vanilla - 400gm</h3>
                    <div class="price">$25.97</div>
                </div>


                <div class="product" data-name="p-4">
                    <img src="static/img/cvsstomach.jpg" alt="">
                    <h3>CVS Health Stomach Relief</h3>
                    <div class="price">$7.59</div>
                </div>
        
                <div class="product" data-name="p-5">
                    <img src="static/img/gaiv.jpeg" alt="">
                    <h3>Gaviscon Chewable Antacid Tablets Original</h3>
                    <div class="price">$12.99</div>
                </div>
        
                <div class="product" data-name="p-6">
                    <img src="static/img/pepto.jpeg" alt="">
                    <h3>Pepto Bismol Travel Size- 3.4 fl oz</h3>
                    <div class="price">$2.99</div>
                </div>
        
                <div class="product" data-name="p-7">
                    <img src="static/img/voltaren.jpg" alt="">
                    <h3>Voltaren Arthritis pain- 3.53 oz</h3>
                    <div class="price">$23.49</div>
                </div>
                <div class="product" data-name="p-8">
                    <img src="static/img/vol.jpeg" alt="">
                    <h3>Volini Pain Relief Spray</h3>
                    <div class="price">$8.90</div>
                </div>
                <div class="product" data-name="p-9">
                    <img src="static/img/himayajoint.jpeg" alt="">
                    <h3>Himalaya Shigru Bone & joint</h3>
                    <div class="price">$7.47</div>
                </div>
        
            </div>
        
        </div>
        
        <div class="products-preview">
        
            <div class="preview" data-target="p-1">
                <i class="fas fa-times"></i>
                <img src="static/img/accucheck.jpg" alt="">
                <h3>Accu Chek Aviva Test Strips- 100 ea
                </h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>( 100 )</span>
                </div>
                <p>The Accu-Chek Aviva PLUS glucose test strips give you accurate and easy test results the first time.</p>
                <div class="price">$189.99</div>
                <div class="buttons">
                    <a href="#" class="buy">buy now</a>
                    <a href="#" class="cart">add to cart<i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        
            <div class="preview" data-target="p-2">
                <i class="fas fa-times"></i>
                <img src="static/img/himadiabetes.jpeg" alt="">
                <h3>Himalaya Diabecon Blood Sugar Tablets
                </h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>( 130 )</span>
                </div>
                <p>Himalaya Herbals Diabecon is a natural supplement to control blood sugar levels. The supplement is based on
                    ayurvedic principles.</p>
                <div class="price">$14.99</div>
                <div class="buttons">
                    <a href="#" class="buy">buy now</a>
                    <a href="#" class="cart">add to cart<i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        
            <div class="preview" data-target="p-3">
                <i class="fas fa-times"></i>
                <img src="static/img/ensure.jpeg" alt="">
                <h3>Ensure Diabetes Care Powder - Vanilla - 400gm
                </h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>( 136 )</span>
                </div>
                <p>Complete, Balanced nutrition specially designed for adults with diabetes.</p>
                <div class="price">$25.97</div>
                <div class="buttons">
                    <a href="#" class="buy">buy now</a>
                    <a href="#" class="cart">add to cart<i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        
            <div class="preview" data-target="p-4">
                <i class="fas fa-times"></i>
                <img src="static/img/cvsstomach.jpg" alt="">
                <h3>CVS Health Stomach Relief
                </h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>( 223 )</span>
                </div>
                <p>Soothes & relieves 5 symptoms. Diarrhea. Upset stomach. Nausea. Heartburn. Indigestion.</p>
                <div class="price">$7.59</div>
                <div class="buttons">
                    <a href="#" class="buy">buy now</a>
                    <a href="#" class="cart">add to cart<i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        
            <div class="preview" data-target="p-5">
                <i class="fas fa-times"></i>
                <img src="static/img/gaiv.jpeg" alt="">
                <h3>Gaviscon Chewable Antacid Tablets Original</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>( 345 )</span>
                </div>
                <p>Gaviscon provides fast acting, long lasting heartburn relief and is an acid reflux remedy.</p>
                <div class="price">$12.99</div>
                <div class="buttons">
                    <a href="#" class="buy">buy now</a>
                    <a href="#" class="cart">add to cart<i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        
            <div class="preview" data-target="p-6">
                <i class="fas fa-times"></i>
                <img src="static/img/pepto.jpeg" alt="">
                <h3>Pepto Bismol Travel Size- 3.4 fl oz</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>( 342 )</span>
                </div>
                <p>Pepto Bismol Liquid for Nausea, Heartburn, Indigestion, Upset Stomach, and Diarrhea Relief, Original Flavor
                    3.4Oz Travel Size.</p>
                <div class="price">$2.99</div>
                <div class="buttons">
                    <a href="#" class="buy">buy now</a>
                    <a href="#" class="cart">add to cart<i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            <div class="preview" data-target="p-7">
                <i class="fas fa-times"></i>
                <img src="static/img/voltaren.jpg" alt="">
                <h3>Voltaren Arthritis pain- 3.53 oz</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>( 165 )</span>
                </div>
                <p>Voltaren has a triple effect that relieves arthritis pain, improves mobility and reduces stiffness.</p>
                <div class="price">$23.49</div>
                <div class="buttons">
                    <a href="#" class="buy">buy now</a>
                    <a href="#" class="cart">add to cart<i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        
            <div class="preview" data-target="p-8">
                <i class="fas fa-times"></i>
                <img src="static/img/vol.jpeg" alt="">
                <h3>Volini Pain Relief Spray</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>( 1334 )</span>
                </div>
                <p>Ultra Strength Bengay Topical Pain Relief Cream, Non-Greasy Topical Analgesic for Minor Arthritis, Muscle,
                    Joint, and Back Pain.</p>
                <div class="price">$8.90</div>
                <div class="buttons">
                    <a href="#" class="buy">buy now</a>
                    <a href="#" class="cart">add to cart<i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            <div class="preview" data-target="p-9">
                <i class="fas fa-times"></i>
                <img src="static/img/himayajoint.jpeg" alt="">
                <h3>Himalaya Shigru Bone & joint
                </h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>( 322 )</span>
                </div>
                <p>A very Great and Excellent product for bone and bone joint remidy. A classic Herbal product from Himalaya.
                </p>
                <div class="price">$7.47</div>
                <div class="buttons">
                    <a href="#" class="buy">buy now</a>
                    <a href="#" class="cart">add to cart<i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
        </body>
</html>