<html>

<head>
  <title>Login Form </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/login.css">
  <script type="text/javascript" src="static/js/login.js"></script>
</head>
<div class="navbar">
  <div class="nav">
    <img src="static/img/logo.jpg" alt="logo" width="200px" height="100px
        " href="./index.html">
        <a href= "{{ url_for('index') }}"> Home </a>
        <a href="{{ url_for('landing') }}"> Our Products </a>
        <a href="{{ url_for('aboutus') }}"> About us </a>
        <a href="{{ url_for('login') }}"> Login </a>
        <a href="{{ url_for('signup') }}"> Sign Up </a>
        <a href="{{ url_for('chart') }}"> Stock </a>
  </div>
</div>
<br><br>

<body>
  <div class="form-box">
    <h2>Log in</h2>
    <form method = "POST">
      <input type="text" placeholder="Username..." id="username" name= 'username' />
      <input type="password" placeholder="Password..." id="password" name= 'password' />
      <button onclick="validate()">Login</button>
      <a href="#">Forgot Password?</a>
    </form>
  </div>
</body>

</html>